<p style="color: green"><%= notice %></p>

<h1>Group clothes</h1>

<div id="group_clothes">
  <% @group_clothes.each do |group_cloth| %>
    <%= render group_cloth %>
    <p>
      <%= link_to "Show this group cloth", group_cloth %>
    </p>
  <% end %>
</div>

<%= link_to "New group cloth", new_group_cloth_path %>
