<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Back to groups", groups_path, class:"inner-buttons" %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
