<p style="color: green"><%= notice %></p>
<br/>
<%= render @group %>

<div class="footer-buttons">
  <%= link_to "Back to groups", groups_path, class:"inner-buttons" %>

  <%= button_to "Destroy this group", @group, method: :delete, class:"new-buttons" %>
</div>
