  <div id="<%= dom_id cloth %>" class="container">
    <div class="container-left">
      <p>
        <%= cloth.name %>
      </p>

    </div>
    <div class="container-right">
      <p>
        <%= cloth.amount %>
      </p>
    </div>
  </div>
