<p style="color: green"><%= notice %></p>
<br/>
<div id="clothes">
  <% @clothes.each do |cloth| %>
    <%= render cloth %>
  <% end %>
</div>

<%= link_to "New cloth", new_group_cloth_path(group_id: @group_id), class: "new-buttons" %>
