<p style="color: green"><%= notice %></p>

<h1>Clothes</h1>

<div id="clothes">
  <% @clothes.each do |cloth| %>
    <%= render cloth %>
  <% end %>
</div>

<%= link_to "New cloth", new_group_cloth_path(current_user), class:"new-buttons" %>
