<br/>
<p style="color: green"><%= notice %></p>
<br/>

<div class="main-container">
<div id="clothes">
  <% @clothes.each do |cloth| %>
    <% if cloth.group.present? %>
      <% @group = cloth.group %>
      <% @cloth = cloth %>
      <%= link_to group_cloth_path(@group, @cloth), class: "cloth-link" do %>
        <%= render cloth %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="footer-buttons">
  <%= link_to "New cloth", new_group_cloth_path(group_id: @group_id), class: "new-buttons" %>
</div>
</div>