<div class="landing-page">
  <h1>Lifestyle Budget App</h1>
  <div class="lower-part">
    <span class=""><%= link_to "LOG IN", new_user_session_path %></span>
    <span class=""><%= link_to "SIGN UP", new_user_registration_path %></span>
  </div>
</div>