<div class="">
<div class="">
<h1 class="">Lifestyle Budget App</h1>
<%# <div class=""></div> %>
<div class="">
<span class=""><%= link_to "LOG IN", new_user_session_path %></span>

<span class=""><%= link_to "SIGN UP", new_user_registration_path %></span>
</div>
</div>
</div>