/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$black: #000;
$grey : #dfdddd;
$dark-grey: #434b54;
$white: #fff;
$blue: #3778c2;
$green: #5fb523;

body {
  padding: 10px 20px;
}

// navigation
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: $blue;
  padding: 5px 10px;
  margin: -10px -20px;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  li {
    margin: 0;
  }
}

// Forms
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input,
.input {
  display: flex;
  border: none;
  border-bottom: 1px solid $grey;
  width: 100%;
  padding: 15px;
}

input[type="text"] {
  color: $black;
  padding: 5px;
  background-color: #f2f2f2;
}

::placeholder {
  color: gray;
}

.actions,
.form-buttons {
  width: 100%;
  padding: 5px;
  text-align: center;
}

.actions :hover,
.form-buttons :hover {
  background-color: $blue;
}

// Footer
footer {
  margin: 20px 0;
}

// Containers
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 5px $black;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.container-left {
  display: grid;
  grid-template-columns: 15% 80%;
  gap: 5px;
}
